/* font-family: 'Open Sans', sans-serif;
font-family: 'Slabo 27px', serif; */

body {
    font-family: 'Open Sans', sans-serif;
}

.heading {
    font-family: 'Slabo 27px', serif;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0px;
}

.navbar-brand {
    padding-left: 35px;
}

.navbar-right {
    padding-right: 35px;
}

label {
    color: #ffffff;
}

#name, #email, #message {
    border-radius: 0px;
}

#name, #email {<button data-toggle="collapse" data-target="#java" class="projects">Java</button>
    <div id="java" class="collapse">
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center project-description">
                <a class="btn btn-primary" target="_blank" href="https://github.com/leroy2712/salon">GitHub</a>
                <a class="btn btn-warning" target="_blank" href="https://moringahairsalon.herokuapp.com/">Link</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-center project-description">
                <a class="btn btn-primary" target="_blank" href="">GitHub</a>
                <a class="btn btn-warning" target="_blank" href="">Link</a>
            </div>
        </div>
    </div>
    </div>
    height: 50px;
}

#contactSubmit {
    width: 100%;
    height: 50px;
    border-radius: 0px; 
}

.projects {
    width: 100%;
    height: 50px;
    background-color: #f4424b;
    color: #ffffff;
    font-size: 1.3em;
    border: 0px;
}

.project-description {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}